.quiz-options {
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    background: transparent;
}

.eye-icon {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 20px;
    color: #BF40BF;
    cursor: pointer;
}

.quiz-options p {
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #BF40BF;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.30);
    transition: .4s;
}

.quiz-alphabet {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #BF40BF;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 20px;
    transition: .4s;

}

.quiz-options .active {
    background-color: #b0d861;
    color: #ffffff
}

.quiz-options .active .quiz-alphabet {
    background-color: #ffffff;
    color: #b0d861;
}

.quiz-options .wrong {
    background-color: red;
    color: #ffffff
}

.quiz-options .wrong .quiz-alphabet {
    background-color: #ffffff;
    color: red;
}


/* responsive for mobile device  */

@media only screen and (max-width: 575.98px) {
    .quiz-options {
        margin-bottom: 10px;
    }

    .quiz-options p {
        position: relative;
    }

    .single-quiz-container {
        padding: 15px;

    }

    .quiz-numbers {
        font-size: 18px;
    }

    .quiz-que {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .quiz-alphabet {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .quiz-options p {
        padding: 60px 15px 20px 15px;
        text-align: center;
    }
}


/* responsive for mobile Landscape device  */
@media only screen and (min-width: 576.98px) and (max-width: 767.98px) {
    .quiz-options {
        margin-bottom: 10px;
    }

    .quiz-options p {
        position: relative;
    }

    .single-quiz-container {
        padding: 15px;

    }

    .quiz-numbers {
        font-size: 18px;
    }

    .quiz-que {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .quiz-alphabet {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .quiz-options p {
        padding: 60px 15px 20px 15px;
        text-align: center;
    }
}


/* responsive for tablet device  */
@media only screen and (min-width: 768.98px) and (max-width: 991.98px) {
    .quiz-options {
        margin-bottom: 10px;
    }

    .quiz-options p {
        position: relative;
    }

    .single-quiz-container {
        padding: 15px;

    }

    .quiz-numbers {
        font-size: 18px;
    }

    .quiz-que {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .quiz-alphabet {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .quiz-options p {
        padding: 80px 30px 30px 30px;

    }
}