.quiz-bread {
    background: #b0d861;
    height: 120px;
    text-align: center;
}

.quiz-container {
    display: flex;
    justify-content: space-between;
}

.quiz-result-container {
    height: 300px;
}

.quiz-bread p {
    font-family: 'Mitr', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 30px;

}

.quiz-result-container {
    margin-top: 30px;
    padding: 30px;
    -webkit-box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.25);
}

.quiz-res-heading {
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:#BF40BF;
}

.quiz-correct {
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #BF40BF;
    margin-top: 40px;
}


.quiz-wrong {
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #BF40BF;
}



/* responsive for mobile device  */
@media only screen and (max-width: 575.98px) {
    .quiz-bread {
        height: 90px;
    }
    .quiz-bread p {
        margin-top: 24px;
        font-size: 26px;
    }
    .quiz-result-container {
        margin-top: 20px;
        padding: 20px;
        margin-bottom: 30px;
    }
}



/* responsive for mobile Landscape device  */
@media only screen and (min-width: 576) and (max-width: 767.98px){
    .quiz-bread {
        height: 90px;
    }
    .quiz-bread p {
        margin-top: 24px;
        font-size: 26px;
    }
    .quiz-result-container {
        margin-top: 20px;
        padding: 20px;
        margin-bottom: 30px;
    }
}





/* responsive for tablet device  */
@media only screen and (min-width: 768) and (max-width: 991.98px) {
    .quiz-bread {
        height: 90px;
    }
    .quiz-bread p {
        margin-top: 24px;
        font-size: 26px;
    }
  
}