.quiz-navbar {
    /* background: #9755D1; */
    background: #cf95ec;
    height: 80px;
}

.quiz-navbar a {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
    transition: .4s;
}

.quiz-navbar a:hover {
    color: #ffffff;
}

.quiz-navbar .active {
    background: #ffffff;
    color: #cf95ec;
    border-radius: 2px;
}

.quiz-navbar .active:hover {
    color: #cf95ec;
}

.quiz-navbar .logo {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}