.chart-container {
    text-align: center;
}

.chart {
    margin: 60px auto 20px auto;
    width: 50%;
    height: 300px;
}

.recharts-text {
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    color: #2f2e29;
}

/* responsive for mobile device  */

@media only screen and (max-width: 575.98px) {
    .chart {
        margin: 60px auto 20px -30px;
        width: auto;
        height: 305px;
    }
}

/* responsive for mobile Landscape device  */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .chart {
        margin: 60px auto 20px -30px;
        width: auto;
        height: 305px;
    }
}

/* responsive for tablet  device  */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .chart {
        margin: 60px auto 20px auto;
        width: 70%;
        height: 305px;
    }
}

/* responsive for laptop device  */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .chart {
        margin: 60px auto 20px auto;
        width: 70%;
        height: 305px;
    }
}