.quiz-numbers{
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #cf95ec;
}
.quiz-que{
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #cf95ec; 
}

.quiz-options{
 
}