.single-quiz-container {
    -webkit-box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 3px 17px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 5px;
    margin: 30px 0;
    position: relative;
}

.single-quiz-container a {
    text-decoration: none;
}

.quiz-numbers {
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #BF40BF;
    margin-bottom: 20px;
    display: inline-block;
}

.quiz-que {
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #BF40BF;
    margin-bottom: 30px;
}

.questions-container {
    text-align: center;
}


/* responsive for mobile device  */

@media only screen and (max-width: 575.98px) {
    .single-quiz-container {
        padding: 15px;
       
    }
    .eye-icon {
        top: 15px;
        right: 20px;
        font-size: 20px;
 
    }
}